<p>registration works!</p>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-5 mt-5 mb-5">
                <h1>Welcome Here!!!</h1><hr>
                <div [ngClass]="className" role="alert">
                    {{message}} <a routerLink="/homepage" class="text-primary" style="cursor: pointer;">login here</a>
                  </div>
                  
                <form formControlName="name" [formGroup]="registerForm" class="text-left">
                    <div class="form-group">
                        <label>Display Name</label>
                        <input type="text" class="form-control" placeholder="username" formControlName="displayName">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Email Id here" formControlName="email">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="************" formControlName="password">

                    </div><br>
                    <button class="btn btn-outline-primary" (click)="registered()" >Register</button>
                </form>

            </div>

        </div>

    </div>

</div>